/target
hg38.fa.gz
hg38.fa
*perf*
*.sh
*.log
genes
*.svg
wget-log.1
wget-log
genefuse.R2.fq.gz
genefuse.R1.fq.gz
genefuse.R2.fq
genefuse.R1.fq
*.html

cmp.ipynb
hg19.fa
hg19.fa.gz
object.tsv
ff.sqlite
plot1.png
*.json
hg38_fusion_csv_list.txt
hg19_fusion_csv_list.txt
genefuse.gz
genefuse
TODO.md
heaptrack.genefuse.3393.zst
heaptrack.genefuse.19481.zst
heaptrack.genefuse.24376.zst
heaptrack.genefuse.24844.zst
heaptrack.genefuse.66248.zst
hp.fg
hp.massif
hp2.fg
ht.histo
ht3.fg
ht4.fg
ht5.fg
